.post-create {
    
}

.align-right-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.align-right-bottom img {
  max-width: 200px;
  max-height: 200px;
  margin: 15px 0 0 0;
}