.loading-center {
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.btn:focus, .btn:active, .btn-outline-success:focus, .btn-outline-success:active {
    outline: none;
}